        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
        }

        .header {
            text-align: center;
            padding: 32px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            padding: 0.5vh;
            width: 100%;

        }

        .column a {
            vertical-align: middle;
            width: 50%;
            margin:0;
            padding: 0;
        }

        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .boton {
            margin-bottom: 1vh;
            background-color: red;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            font-size: 20px;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
            border-radius: 2vh;
            
        }

       

        h1 {
            text-align: center;
        }
        
        .logo img {
            text-align: center;
        }
        

        .boton:hover {
            opacity: 1;
            
        }

        #lista{
            display: none;
        }

        #menu img{
            position: relative;
        
        }
        
        input#checkbox {
            display: none;
        }
        
        input:checked ~ #lista{
            width: 100%;
            display: block;
            height: 100%;
            position:absolute;
            background-color: red;
            top: 13vh;
        }

        
        input:checked ~ a.boton{
            display: none;
            position:absolute;
            opacity: 0;
            
            
        }

        
        #lista ul{
            margin: 2vh;

        }

        #lista ul li a{
            color:white;
            text-decoration: none;
            margin: 2vh;
           
        }

        #menu{
            background-color: none;
            margin: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }


        .burger {
            box-sizing: border-box;
            display: inline-block;
            border: 0.3vh solid black;
            border-radius: 1.5vh;
            width: 8vh;
            height: 8vh;
            font-weight: bold;
            text-align: center;
            user-select: none;
        }

        .menu_img1 {
            height: 13vh;
        }

        .menu_img2 {
            width: 9vh;
        }

        .hamburguesa {
            color: black;
            font-size: 5vh;
            vertical-align: middle;
            line-height: 8vh;
        }

        
